@page "/basicquiz"
@using System.Web
@using TegritTrivia.Models
@rendermode InteractiveServer
@inject HttpClient HttpClient
@inject PersistentComponentState PersistentComponentState

<h3>BasicQuiz</h3>

@if (showResults == true)
{
    <div class="results">
        <h2>Quiz Complete!</h2>
        <p>Correct Answers: @correctAnswers</p>
        <p>Wrong Answers: @(Questions.Results.Count() - correctAnswers)</p>
        <p>Total Score: @correctAnswers out of @Questions.Results.Count()</p>
    </div>
}

@if (resultsList != null && resultsList.Count() > 0)
{

    @foreach (var question in resultsList)
    {
        <div class="quiz-container1">
            <p>@HttpUtility.HtmlDecode(question.Question)</p>
            <div class="options">
                @for (int i=0; i < question.Options.Count(); i++)
                {
                    var index = HttpUtility.HtmlDecode(question.Options[i]);
                    <button class="@GetOptionClass(index, question, i)" @onclick="() => SelectOption(index, question)" disabled="@(showResults)">
                        @HttpUtility.HtmlDecode(question.Options[i])
                    </button>
                }
            </div>
        </div>
    }

    <button class="next-button" @onclick="SaveAnswers">Save Answers</button>

    <button class="next-button" @onclick="ShowResults">Show Results</button>
}
else
{
    <p>Loading Quiz...</p>
}

@if (Questions == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var question in Questions.Results)
        {
            <li>

                <strong>@(HttpUtility.HtmlDecode(question.Question))</strong><br />
                Correct Answer: @question.Correct_Answer
                @foreach (var options in question.Options)
                {
                    <p>@options</p>
                }
            </li>
        }
    </ul>
}

@code {
    private string name = "Document Data List";
    private PersistingComponentStateSubscription persistingSubscription;
    // private int currentQuestionIndex = 0;
    private string selectedOption = string.Empty;
    private bool isAnswered = false;
    private int correctAnswers = 0;
    private bool showResults = false;

    // Attempt at calling Open Trivia Database API to generate questions
    private TriviaResponse Questions;
    private List<TriviaResults> resultsList = new();

    protected override async Task OnInitializedAsync()
    {
        persistingSubscription = PersistentComponentState.RegisterOnPersisting(PersistData);

        if (PersistentComponentState.TryTakeFromJson<TriviaResponse>(name, out var persistedList))
        {
            Questions = persistedList;
            resultsList = Questions.Results?.ToList() ?? new List<TriviaResults>();
        }
        else
        {
            if (Questions == null)
            {
                var date = DateTime.Today.ToString("yyyy-MM-dd");

                // Call actual API for testing (so we don't call Azure Function)
                TriviaResponse triviaResponse = await HttpClient.GetFromJsonAsync<TriviaResponse>($"https://opentdb.com/api.php?amount=10");

                if (triviaResponse == null)
                {
                    Console.WriteLine("No triviaRepsonse found");
                }
                else
                {
                    Console.WriteLine("Questions is not null");
                    Questions = triviaResponse;
                    Console.WriteLine(Questions.Id + Questions.ResponseCode);
                    resultsList = Questions.Results?.ToList() ?? new List<TriviaResults>();
                    Console.WriteLine($"Loaded {resultsList.Count} questions.");
                    StateHasChanged();
                }
            }
        }
    }

    private Task PersistData()
    {
        PersistentComponentState.PersistAsJson(name, Questions);
        return Task.CompletedTask;
    }

    private void Dispose()
    {
        persistingSubscription.Dispose();
    }

    private void SelectOption(string option, TriviaResults question)
    {
        var index = resultsList.FindIndex(x => x.Equals(question));

        selectedOption = option;
        resultsList[index].SelectedOption = option;
        isAnswered = true;
    }

    // private void NextQuestion()
    // {
    //     currentQuestionIndex++;
    //     selectedOption = resultsList[currentQuestionIndex].SelectedOption == null ? string.Empty : resultsList[currentQuestionIndex].SelectedOption;
    //     isAnswered = false;
    // }

    // private void PreviousQuestion()
    // {
    //     currentQuestionIndex--;
    //     selectedOption = resultsList[currentQuestionIndex].SelectedOption;
    //     isAnswered = false;
    // }

    private void ShowResults()
    {
        // currentQuestionIndex = Questions.Results.Count();
        showResults = true;

        foreach (var question in Questions.Results)
        {
            if (question.Correct_Answer == question.SelectedOption)
            {
                correctAnswers++;
            }
        }
    }

    private string GetOptionClass(string option, TriviaResults question, int index)
    {
        var resultsIndex = resultsList.FindIndex(x => x.Equals(question));

        if (showResults == false)
        {
            if (option == resultsList[resultsIndex].SelectedOption)
            {
                return "option selected";
            }
        }
        else
        {
            if (index == resultsList[resultsIndex].Options.IndexOf(resultsList[resultsIndex].Correct_Answer))
            {
                return "option correct";
            }

            if (index == resultsList[resultsIndex].Options.IndexOf(resultsList[resultsIndex].SelectedOption))
            {
                return "option wrong";
            }
        }

        return "option";
    }

    private void SaveAnswers()
    {
        Console.WriteLine("Save Answers button pressed. Not implemented yet");
    }
}
